<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_custom_fields_mapping_property_root" name="Custom Fields Mapping" sequence="1"/>

    <menuitem id="menu_custom_fields_mapping_custom_fields"
              name="Custom Fields"
              parent="menu_custom_fields_mapping_property_root"
              action="action_my_custom_property"
              sequence="3"/>

    <menuitem
            id="menu_custom_fields_mapping_dropdowns"
            name="Dropdowns"
            parent="menu_custom_fields_mapping_property_root"
            sequence="4"/>

    <menuitem id="menu_custom_fields_mapping_lead_owner_id"
              name="Lead Owner Id"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_lead_owner_id"
              sequence="5"/>

    <menuitem id="menu_custom_fields_mapping_lead_status"
              name="Lead Status"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_lead_status"
              sequence="6"/>

    <menuitem id="menu_custom_fields_mapping_found_on_us"
              name="Found Us On"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_found_on_us"
              sequence="7"/>

    <menuitem id="menu_custom_fields_mapping_interested_in"
              name="Interested In"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_interested_in"
              sequence="8"/>

    <menuitem id="menu_custom_fields_mapping_salutation"
              name="Salutation"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_salutation"
              sequence="9"/>

    <menuitem id="menu_custom_fields_mapping_currency"
              name="Currency"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_currency"
              sequence="10"/>

    <menuitem id="menu_custom_fields_mapping_company_legacy"
              name="Company Legacy"
              parent="menu_custom_fields_mapping_dropdowns"
              action="action_company_legacy"
              sequence="11"/>
</odoo>